services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_USER: 'admindiet'
      MYSQL_PASSWORD: 'admindiet'
      MYSQL_DATABASE: 'diet-control'
      MYSQL_ROOT_PASSWORD: 'admindiet'
    ports:
      - "3306:3306"
    expose:
      # Opens port 3306 on the container
      - '3306'
    volumes:
      - C:\Users\Admin\Documents\Py\diet-control/mysql:/var/lib/mysql